<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles_index.css}">
    <link rel="stylesheet" th:href="@{/css/styles_general.css}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-slim@2.0.6/tsparticles.slim.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
        console.log("document is ready");
          $( "#img1" ).hover(
            function() {
            $(this).addClass('shadow-lg').css('cursor', 'pointer');
          }, function() {
            $(this).removeClass('shadow-lg');
          }
          );


    </script>
</head>


<body>
<div class="container-fluid" style="z-index:1;">
    <header th:insert="general.html :: header"></header>
</div>


<div class="container" style="margin-top:220px;height: 100vh;">
    <div class="row mx-auto align-self-center" style="padding-top:50px">
        <div class="row mx-auto align-self-center">
            <div class="col-lg-8 text-center mx-auto">
                <h1 class="display-4" style="font-weight: 500;">About</h1>
                <p style="padding-top: 18px;font-size:20px;"> Iteration Project demonstrates learnings about mvc pattern
                    and
                    web development in an interactive way, tying together everything into a cohesive, presentable
                    website.
                    More iterations may be updated in the future.
                </p>
                <p style="padding-top: 18px;font-size:20px;">
                    I can be contacted via social links at the bottom of the page, or through my email:
                    jinwoopark00@gmail.com.
                </p>
                <p style="padding-top: 18px;font-size:20px;">
                    Don't hesitate to reach out.
                </p>
                <!--<p style="padding-top: 18px;font-size:20px;">-->
                <!--To see more of what I create, check out jinwoopark.com-->
                <!--</p>-->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding:0;">
    <footer th:insert="general.html :: footer"></footer>
</div>

</body>
</html>