<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles_general.css}">
    <link rel="stylesheet" th:href="@{/css/styles-iteration1.css}">
    <title>Iteration 1</title>
</head>
<body>

<div id="header" class="container-fluid">
    <header th:insert="general.html :: header"></header>
</div>

<div class="container-fluid">
    <div class="row justify-content-center" style="height: 100vh">
        <div id="content" class="col-lg-5 col-md-12 order-sm-2 order-xs-2 order-md-2 order-lg-first ">

            <p style="margin-top: 50px"><a href="/hello">Greet the World!</a></p>

            <form action="/hello" method="GET" id="nameForm">
                <div>
                    <label for="nameField">How should I call you?</label>
                    <input name="myName" id="nameField">
                    <button class="btn">Greet me!</button>
                </div>
            </form>

        </div>

        <div id="info" class=" col-lg-2 col-md-12 order-sm-first order-xs-first order-md-first order-lg-last">

            <div class="card" style="padding-top:10px;background-color:#e9ecef;">
                <div class="card-body"
                     style="padding-top:20px;padding-bottom:20px;background-color:#e9ecef;">
                    <p>First step is of course, learning from the simplest tutorial on youtube one can find &#128512 </p>
                    <p>This shows the very first iteration, in which user encounters a page that will greet by the
                        name entered.</p>
                    <p>Tip: There's a subtle way to say hi to the "World" as well.</p>
                    <div class="row">
                        <div class="col d-flex align-self-center justify-content-center">
                            <a th:href="@{/}" class="btn default">Back To Home</a>
                        </div>
                        <div class="col d-flex align-self-center justify-content-center">
                            <a th:href="@{/showIteration2}" class="btn default">Next Iteration</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid" style="padding:0;">
    <footer th:insert="general.html :: footer"></footer>
</div>

</body>
</html>